<!doctype html>

<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    >
    <title>{% block 'titulo'%}{% endblock %}</title>
    {% block 'head' %}{% endblock %}
  </head>
  <body class="d-flex flex-column bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="/">DYWT?</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/auth/cadastro/">Cadastre-se <span class="sr-only">(current)</span></a>
                  </li>
              </ul>
              <form class="form-inline">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/auth/login/">Login</a>
                  </li>
              </ul>
              </form>
          </div>
      </div>
  </nav>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" ></script>
    {% block 'body'%}{% endblock %}
      <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50" >
        <div class="container text-center">
          <small>Projeto Integrador 1 - Grupo Boituva - Fretado?</small>
        </div>
      </footer>
  </body>
</html>